html,body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.header-banner-wrap{
    position: relative;
    width: 100%;
    .img-wrap{
        width: 100%;
        height: 652px;
        overflow: hidden;

        img{
            width: 100%;
            background-size: cover;
        }
    }
    .color-overlay{
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 652px;
    }
}
.navbar{
  min-height: 55px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
}
.navbar-default .navbar-nav>.open>a{
  background-color: none;
}

.abc{
    padding-top: 185px;
}

.abc{
    h1{
        text-align: center; 
        color: white;
        position: absolute;  
    }
    p{
        text-align: center;
        color: white;
        position: absolute;
        margin-top: 90px;
    }
}
.header{
  margin-bottom: 40px;
  text-align: center;
}
.header h2 {
     text-align: center;
     margin-top: 110px;
  }
  .header h3 {
    text-align: center;
  }
  .example1 {
    a{
      display: block;
      box-shadow: 0px 4px 10px 0px #cccccc;
      text-decoration: none;
      -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
      .img-wrap{
            width: 100%;
            background: #ffba00;
            height: 298px;
            overflow: hidden;
        img{
          width: 100%;
        }
      }
      strong{
        font-weight: 600;
        font-size: 28px;
        color: #6a6a6a;
        display: block;
        text-align: center;
        padding: 12px;
        background: #ffffff;
      }
      &:hover{
        box-shadow: 0px 4px 15px 0px #b1b1b1;
      }
    }
}

.banner-text{
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    .banner-title{
      font-size: 28px;
      display: block;
      margin-bottom: 20px;
    }
    p{
      font-size: 16px;
    }
}
.social-media{
  position: absolute;
  right:20px;
  top: 50%;
  transform: translate(0, -50%);
  li{
    list-style: none;
    margin-bottom: 10px;
    a{
      display: inline-block;
      width: 64px;
      img{
        width: 100%;
      }
    }
  }
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #fff;
  border-bottom: 5px solid #fff;
}
.inner-service{
  .example1{
    &:last-child{
      a{
        .img-wrap{
          background: #3c8d00;
          img{
            width: 50%;
    margin-left: 50%;
    margin-top: 38%;
    transform: translate(-50%, -50%);
          }
        }
      }
  }
  }
}

  .header7{
    margin-bottom: 65px;
  text-align: center;
  }
  .header7 h2 {
  text-align: center;
  margin-top: 110px;
  }
.header7 h3 {
  text-align: center;
  }
.saha{
  width: 300px;
  margin: 26px;
}
.saha:hover{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    box-shadow: 0px 3px 8px 2px #ddd;
  }

  .port-img-wrap{
    width: 100%;
    a{
      display: block;
      height: 396px;
      overflow: hidden;
      position: relative;
      box-shadow: 0px 2px 12px 0px #b7b7b7;
      .overlay-color{
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.3);
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        -webkit-transition: opacity 0.5s ease 0s;
        -o-transition: opacity 0.5s ease 0s;
        -moz-transition: opacity 0.5s ease 0s;
        transition: opacity 0.5s ease 0s;
        .content-wrap{
          width: 50%;
          margin-left: 50%;
          margin-top: 44%;
          transform: translate(-50%,-50%);
          text-align: center;
          .hov-title{
            color: #fff;
            font-weight: 600;
            font-size: 25px;
            margin-bottom: 10px;
          }
        }
      }
      .hover-img{
        width: 100%;
        img{
          width: 100%;
        }
      }
      &:hover{
        .overlay-color{
          opacity: 1;
        }
      }
    }
  }

.header1{
  margin: 65px;
}
.header2{
  margin-bottom: 65px;
  text-align: center;
}
.header2 h2 {
  text-align: center;
  margin-top: 110px;
  }
  .header2 h3 {
  text-align: center;
  }
.header3{
  margin-bottom: 65px;
  text-align: center;
}
.header3 h2 {
  text-align: center;
  margin-top: 110px;
  }
.header3 h3 {
  text-align: center;
  }

 /* .fa{
    font: normal normal normal 88px/1 FontAwesome;
  }
  .fa-6{
    margin-top: -129px;
    margin-left: 471px;
    font-size: 85px;
  }*/
  .fa{
    font-size: 4em;
  }
.example2{
    box-sizing: content-box;    
    padding: 75px;    
    border: 1px solid #d6d6d6 ;
}
.header6{
  text-align: center;
}
.image2{
    width: 70px;
    margin-top: -116px;
    margin-left: 455px;
}
.btn-add a{
    float: right;
    background:#337ab7;
    padding: 10px 10px;
    color: #fff;
    margin: 12px 5px;
   
}

.btn-add-on a{
    float: right;
    background:#337ab7;
    padding: 10px 10px;
    color: #fff;
    margin: 12px 0px;
   
}
  .nav-wrapper {
    width: 100%;
    background-color: #337ab7;
    form{
      ul{
        padding:0px;
        margin:0px;
        li{
          list-style: none;
          margin-bottom: 12px;
          .input-group{
            span{
              border-radius: 0px;
            }
          }
          &:last-child{
            margin-bottom: 0px;
          }
        }
      }
    }
  }
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}
.footer{
  color: #fff;
  h3{
    margin:0px;
    margin:20px 0px;
  }
}
.btn-wrap{
    margin: 12px 0px;
  .btn-submit{
      float: right;
      background: none;
      border: none;
      border: 2px solid #fff;
      padding: 12px 30px;
      font-weight: bold;
      color: #fff;
      transition: 0.3s;
      &:hover{
        background:#fff;
        color: #337ab7;
      }
  }
}

/*bootstrap custom start css*/
.carousel{
  position: relative;
  box-shadow: 0px 2px 15px 0px #a2a2a2;
  .carousel-inner{
    .carousel-caption{
      bottom: inherit;
      top: 50%;
      transform: translate(0,-50%);
      p{
        color: #090;
      }
    }
  }
}
.carousel-control.left{
      right: 90px;
      bottom: 45px;
}
.carousel-control.right{
      right: 37px;
      bottom: 45px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
      background: #fff;
      width: 32px;
      height: 32px;
      box-shadow: 0px 2px 15px 0px #b3b3b3;
}
.carousel-control{
  color: #3b5998;
  box-shadow: none;
  top: inherit;
  left: inherit;
  width: inherit;
}
.carousel-control:focus, .carousel-control:hover{
  color: #3b5998;
}
.carousel-control.left, .carousel-control.right{
  background-image: none;
}

.profile-wrap{
  background: #ddd;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: -54px;
  transform: translate(-50%,0);
  z-index: 1;
  img{
    width: 100%;
  }
}
/*bootstrap custom end css*/
.linker1{
  background-color: white;
  padding: 8px;
  margin-right: 327px;
}
.imazes{
  padding-top: 5px;
  width: 50px;
  padding-right: 3px;
}
.footer-wrapper{
  display: block;
  text-align: center;
  color: #fff;
  padding-top: 65px;
}
.dropdown .divider{
  border-bottom: 1px solid black;
}

.navbar-default{
  background: #0077b5;
  border:none;
  padding:0 15px;
  border-radius: 0px;
}
/*web-app starts*/
.indexPage{
  .navbar-default{
    background: none;
  }
  .header-wrapper{
    
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
  }
}

.navbar-brand{
  height: inherit;
  padding:8px;
  width: 56px;
  display: inline-block;
  img{
    width: 100%;
  }
}

.nav-wrappers {
    width: 100%;
    background-color: #337ab7;
    margin-top: 40px;
  }
  .schs{
    padding-top: 20px;
    width: 100%;
  }
  .schs:hover{
    background: #fff;
  }
.web-header{
  padding-bottom: 20px;
}
.heading1{
 padding-left: 20px; 
}
.aligner{
  text-align: justify;
}



