<%--
  Created by IntelliJ IDEA.
  User: Padma
  Date: 1/29/2018
  Time: 2:46 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>

    <meta name="layout" content="main"/>
    <title></title>
</head>

<body>
<g:render template="/fullmoon/slider"/>
<g:render template="/fullmoon/landing"/>
</body>
</html>