/* line 1, ../sass/fullmoon.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* line 7, ../sass/fullmoon.scss */
.header-banner-wrap {
  position: relative;
  width: 100%;
}
/* line 10, ../sass/fullmoon.scss */
.header-banner-wrap .img-wrap {
  width: 100%;
  height: 652px;
  overflow: hidden;
}
/* line 15, ../sass/fullmoon.scss */
.header-banner-wrap .img-wrap img {
  width: 100%;
  background-size: cover;
}
/* line 20, ../sass/fullmoon.scss */
.header-banner-wrap .color-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 652px;
}

/* line 29, ../sass/fullmoon.scss */
.navbar {
  min-height: 55px;
}

/* line 32, ../sass/fullmoon.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
}

/* line 36, ../sass/fullmoon.scss */
.navbar-default .navbar-nav > .open > a {
  background-color: none;
}

/* line 40, ../sass/fullmoon.scss */
.abc {
  padding-top: 185px;
}

/* line 45, ../sass/fullmoon.scss */
.abc h1 {
  text-align: center;
  color: white;
  position: absolute;
}
/* line 50, ../sass/fullmoon.scss */
.abc p {
  text-align: center;
  color: white;
  position: absolute;
  margin-top: 90px;
}

/* line 57, ../sass/fullmoon.scss */
.header {
  margin-bottom: 40px;
  text-align: center;
}

/* line 61, ../sass/fullmoon.scss */
.header h2 {
  text-align: center;
  margin-top: 110px;
}

/* line 65, ../sass/fullmoon.scss */
.header h3 {
  text-align: center;
}

/* line 69, ../sass/fullmoon.scss */
.example1 a {
  display: block;
  box-shadow: 0px 4px 10px 0px #cccccc;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 77, ../sass/fullmoon.scss */
.example1 a .img-wrap {
  width: 100%;
  background: #ffba00;
  height: 298px;
  overflow: hidden;
}
/* line 82, ../sass/fullmoon.scss */
.example1 a .img-wrap img {
  width: 100%;
}
/* line 86, ../sass/fullmoon.scss */
.example1 a strong {
  font-weight: 600;
  font-size: 28px;
  color: #6a6a6a;
  display: block;
  text-align: center;
  padding: 12px;
  background: #ffffff;
}
/* line 95, ../sass/fullmoon.scss */
.example1 a:hover {
  box-shadow: 0px 4px 15px 0px #b1b1b1;
}

/* line 101, ../sass/fullmoon.scss */
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
/* line 108, ../sass/fullmoon.scss */
.banner-text .banner-title {
  font-size: 28px;
  display: block;
  margin-bottom: 20px;
}
/* line 113, ../sass/fullmoon.scss */
.banner-text p {
  font-size: 16px;
}

/* line 117, ../sass/fullmoon.scss */
.social-media {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
/* line 122, ../sass/fullmoon.scss */
.social-media li {
  list-style: none;
  margin-bottom: 10px;
}
/* line 125, ../sass/fullmoon.scss */
.social-media li a {
  display: inline-block;
  width: 64px;
}
/* line 128, ../sass/fullmoon.scss */
.social-media li a img {
  width: 100%;
}

/* line 135, ../sass/fullmoon.scss */
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  border-bottom: 5px solid #fff;
}

/* line 143, ../sass/fullmoon.scss */
.inner-service .example1:last-child a .img-wrap {
  background: #3c8d00;
}
/* line 145, ../sass/fullmoon.scss */
.inner-service .example1:last-child a .img-wrap img {
  width: 50%;
  margin-left: 50%;
  margin-top: 38%;
  transform: translate(-50%, -50%);
}

/* line 157, ../sass/fullmoon.scss */
.header7 {
  margin-bottom: 65px;
  text-align: center;
}

/* line 161, ../sass/fullmoon.scss */
.header7 h2 {
  text-align: center;
  margin-top: 110px;
}

/* line 165, ../sass/fullmoon.scss */
.header7 h3 {
  text-align: center;
}

/* line 168, ../sass/fullmoon.scss */
.saha {
  width: 300px;
  margin: 26px;
}

/* line 172, ../sass/fullmoon.scss */
.saha:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  box-shadow: 0px 3px 8px 2px #ddd;
}

/* line 181, ../sass/fullmoon.scss */
.port-img-wrap {
  width: 100%;
}
/* line 183, ../sass/fullmoon.scss */
.port-img-wrap a {
  display: block;
  height: 396px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 12px 0px #b7b7b7;
}
/* line 189, ../sass/fullmoon.scss */
.port-img-wrap a .overlay-color {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}
/* line 202, ../sass/fullmoon.scss */
.port-img-wrap a .overlay-color .content-wrap {
  width: 50%;
  margin-left: 50%;
  margin-top: 44%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* line 208, ../sass/fullmoon.scss */
.port-img-wrap a .overlay-color .content-wrap .hov-title {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}
/* line 216, ../sass/fullmoon.scss */
.port-img-wrap a .hover-img {
  width: 100%;
}
/* line 218, ../sass/fullmoon.scss */
.port-img-wrap a .hover-img img {
  width: 100%;
}
/* line 223, ../sass/fullmoon.scss */
.port-img-wrap a:hover .overlay-color {
  opacity: 1;
}

/* line 230, ../sass/fullmoon.scss */
.header1 {
  margin: 65px;
}

/* line 233, ../sass/fullmoon.scss */
.header2 {
  margin-bottom: 65px;
  text-align: center;
}

/* line 237, ../sass/fullmoon.scss */
.header2 h2 {
  text-align: center;
  margin-top: 110px;
}

/* line 241, ../sass/fullmoon.scss */
.header2 h3 {
  text-align: center;
}

/* line 244, ../sass/fullmoon.scss */
.header3 {
  margin-bottom: 65px;
  text-align: center;
}

/* line 248, ../sass/fullmoon.scss */
.header3 h2 {
  text-align: center;
  margin-top: 110px;
}

/* line 252, ../sass/fullmoon.scss */
.header3 h3 {
  text-align: center;
}

/* .fa{
   font: normal normal normal 88px/1 FontAwesome;
 }
 .fa-6{
   margin-top: -129px;
   margin-left: 471px;
   font-size: 85px;
 }*/
/* line 264, ../sass/fullmoon.scss */
.fa {
  font-size: 4em;
}

/* line 267, ../sass/fullmoon.scss */
.example2 {
  box-sizing: content-box;
  padding: 75px;
  border: 1px solid #d6d6d6;
}

/* line 272, ../sass/fullmoon.scss */
.header6 {
  text-align: center;
}

/* line 275, ../sass/fullmoon.scss */
.image2 {
  width: 70px;
  margin-top: -116px;
  margin-left: 455px;
}

/* line 280, ../sass/fullmoon.scss */
.btn-add a {
  float: right;
  background: #337ab7;
  padding: 10px 10px;
  color: #fff;
  margin: 12px 5px;
}

/* line 289, ../sass/fullmoon.scss */
.btn-add-on a {
  float: right;
  background: #337ab7;
  padding: 10px 10px;
  color: #fff;
  margin: 12px 0px;
}

/* line 297, ../sass/fullmoon.scss */
.nav-wrapper {
  width: 100%;
  background-color: #337ab7;
}
/* line 301, ../sass/fullmoon.scss */
.nav-wrapper form ul {
  padding: 0px;
  margin: 0px;
}
/* line 304, ../sass/fullmoon.scss */
.nav-wrapper form ul li {
  list-style: none;
  margin-bottom: 12px;
}
/* line 308, ../sass/fullmoon.scss */
.nav-wrapper form ul li .input-group span {
  border-radius: 0px;
}
/* line 312, ../sass/fullmoon.scss */
.nav-wrapper form ul li:last-child {
  margin-bottom: 0px;
}

/* line 319, ../sass/fullmoon.scss */
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #d6d6d6;
}

/* line 326, ../sass/fullmoon.scss */
.footer {
  color: #fff;
}
/* line 328, ../sass/fullmoon.scss */
.footer h3 {
  margin: 0px;
  margin: 20px 0px;
}

/* line 333, ../sass/fullmoon.scss */
.btn-wrap {
  margin: 12px 0px;
}
/* line 335, ../sass/fullmoon.scss */
.btn-wrap .btn-submit {
  float: right;
  background: none;
  border: none;
  border: 2px solid #fff;
  padding: 12px 30px;
  font-weight: bold;
  color: #fff;
  transition: 0.3s;
}
/* line 344, ../sass/fullmoon.scss */
.btn-wrap .btn-submit:hover {
  background: #fff;
  color: #337ab7;
}

/*bootstrap custom start css*/
/* line 352, ../sass/fullmoon.scss */
.carousel {
  position: relative;
  box-shadow: 0px 2px 15px 0px #a2a2a2;
}
/* line 356, ../sass/fullmoon.scss */
.carousel .carousel-inner .carousel-caption {
  bottom: inherit;
  top: 50%;
  transform: translate(0, -50%);
}
/* line 360, ../sass/fullmoon.scss */
.carousel .carousel-inner .carousel-caption p {
  color: #090;
}

/* line 366, ../sass/fullmoon.scss */
.carousel-control.left {
  right: 90px;
  bottom: 45px;
}

/* line 370, ../sass/fullmoon.scss */
.carousel-control.right {
  right: 37px;
  bottom: 45px;
}

/* line 375, ../sass/fullmoon.scss */
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  background: #fff;
  width: 32px;
  height: 32px;
  box-shadow: 0px 2px 15px 0px #b3b3b3;
}

/* line 381, ../sass/fullmoon.scss */
.carousel-control {
  color: #3b5998;
  box-shadow: none;
  top: inherit;
  left: inherit;
  width: inherit;
}

/* line 388, ../sass/fullmoon.scss */
.carousel-control:focus, .carousel-control:hover {
  color: #3b5998;
}

/* line 391, ../sass/fullmoon.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/* line 395, ../sass/fullmoon.scss */
.profile-wrap {
  background: #ddd;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: -54px;
  transform: translate(-50%, 0);
  z-index: 1;
}
/* line 406, ../sass/fullmoon.scss */
.profile-wrap img {
  width: 100%;
}

/*bootstrap custom end css*/
/* line 411, ../sass/fullmoon.scss */
.linker1 {
  background-color: white;
  padding: 8px;
  margin-right: 327px;
}

/* line 416, ../sass/fullmoon.scss */
.imazes {
  padding-top: 5px;
  width: 50px;
  padding-right: 3px;
}

/* line 421, ../sass/fullmoon.scss */
.footer-wrapper {
  display: block;
  text-align: center;
  color: #fff;
  padding-top: 65px;
}

/* line 427, ../sass/fullmoon.scss */
.dropdown .divider {
  border-bottom: 1px solid black;
}

/* line 431, ../sass/fullmoon.scss */
.navbar-default {
  background: #0077b5;
  border: none;
  padding: 0 15px;
  border-radius: 0px;
}

/*web-app starts*/
/* line 439, ../sass/fullmoon.scss */
.indexPage .navbar-default {
  background: none;
}
/* line 442, ../sass/fullmoon.scss */
.indexPage .header-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

/* line 451, ../sass/fullmoon.scss */
.navbar-brand {
  height: inherit;
  padding: 8px;
  width: 56px;
  display: inline-block;
}
/* line 456, ../sass/fullmoon.scss */
.navbar-brand img {
  width: 100%;
}

/* line 461, ../sass/fullmoon.scss */
.nav-wrappers {
  width: 100%;
  background-color: #337ab7;
  margin-top: 40px;
}

/* line 466, ../sass/fullmoon.scss */
.schs {
  padding-top: 20px;
  width: 100%;
}

/* line 470, ../sass/fullmoon.scss */
.schs:hover {
  background: #fff;
}

/* line 473, ../sass/fullmoon.scss */
.web-header {
  padding-bottom: 20px;
}

/* line 476, ../sass/fullmoon.scss */
.heading1 {
  padding-left: 20px;
}

/* line 479, ../sass/fullmoon.scss */
.aligner {
  text-align: justify;
}
